[Unit]
Description=Server for Telegram bot 'OSM Bot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/OSM_Bot/
ExecStart=/usr/local/bin/OSM_Bot/venv/bin/python3 -m flask_server
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target